@value dark-100, secondary,brand-color from "styles/global/colors.module.css";

.coverPage {
  height: 200px;
  overflow: hidden;
}

.coverPage > img {
  height: auto;
}

.middleBox {
  display: flex;
  justify-content: flex-end;
  position: relative;
  height: 70px;
}

.btnContainer {
  display: flex;
  margin-top: 16px;
}

.btnContainer > button {
  margin-left: 16px;
  display: flex;
  align-items: center;
  width: auto;
  height: 40px;
  font-size: 16px;
}

.btnContainer > button > svg > path {
  fill: brand-color;
}

.btnContainer > button:hover > svg > path {
  fill: white;
}

.avatar {
  position: absolute;
  top: -100%;
  left: 16px;
  width: 140px;
  height: 140px;
  border-radius: 100%;
  border: 4px solid white;
}
.middleBox > svg {
  position: absolute;
  top: -100%;
  left: 16px;
  width: 140px;
  height: 140px;
  border-radius: 100%;
  border: 4px solid white;
}

.middleBox > button {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 130px;
  height: 40px;
  font-size: 16px;
}

.userInfo {
  padding: 8px 16px;
}

.userAccount {
  color: secondary;
}

.userIntroduction {
  color: dark-100;
}

.followContainer {
  display: flex;
  margin: 8px 0;
}

.following {
  margin-right: 20px;
}

.followCount {
  color: dark-100;
}

.followText {
  color: secondary;
}

a {
  text-decoration: none;
}
